@model BankAccountManagement.Models.CheckingAccountDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center mt-4">Checking Account Id#@Html.DisplayFor(model => model.CheckingAccountId) Transactions</h2>

<table class="table">

    <thead>
        <tr>
            <th>
                TransactionId
            </th>
            <th>
                <p>
                    Created on
                </p>
            </th>

            <th>
                <p>
                    Amount
                </p>
            </th>
            <th>
                <p>
                    Type
                </p>
            </th>

        </tr>
    </thead>


    @foreach (var item in Model.Transactions)
    {
        <tr>
            <th scope="row">
                @Html.DisplayFor(modelItem => item.TransactionId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfTransaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfTransaction)
            </td>

            <td>


                @Html.ActionLink("Details", "Details", "Transaction", new { id = item.TransactionId }, htmlAttributes: new { @class = "btn btn-info btn-sm " })

            </td>
        </tr>
    }


</table>
<p>
    
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "text-light" })
</p>
