<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Juan's Bank</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="text-white" >
    <div class="navbar navbar-expand-lg bg-warning navbar-dark fixed-top">
        <div class="container">
            @Html.ActionLink("Juan's Bank", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="true">
                <span class="navbar-toggler-icon"></span>

            </button>


            <div class="navbar-collapse collapse">
                <ul class="navbar-nav list-inline mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, htmlAttributes: new { @class = "nav-link" })</li>
                    @if (User.Identity.IsAuthenticated)
                    {


                        <li class="nav-item">@Html.ActionLink("Customers", "Index", "Customer", null, htmlAttributes: new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Savings Accounts", "Index", "SavingsAccount", null, htmlAttributes: new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Checking Accounts", "Index", "CheckingAccount", null, htmlAttributes: new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Transactions", "Index", "Transaction", null, htmlAttributes: new { @class = "nav-link" })</li>
                    }
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, htmlAttributes: new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Juan's Bank</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
