@model BankAccountManagement.Models.CustomerDetail

@{
    ViewBag.Title = "Details";
}
<h2 class="text-center mt-4">@Html.DisplayFor(model => model.FirstName)s' Accounts </h2>

<table class="table">

    <thead>
        <tr>
            <th>
                CheckingAccountId
            </th>
            <th>
                <p>
                    Account #
                </p>
            </th>

            <th>
                <p>
                    Balance
                </p>
            </th>
            <th>
                <p>
                    Type
                </p>
            </th>

        </tr>
    </thead>


    @foreach (var item in Model.CheckingAccounts)
    {
        <tr>
            <th scope="row">
                @Html.DisplayFor(modelItem => item.CheckingAccountId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.CAccountNumber))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckingBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfCheckingAccount)
            </td>

            <td>


                @Html.ActionLink("Details", "Details", "Transaction", new { id = item.CustomerId }, htmlAttributes: new { @class = "btn btn-info btn-sm " })

            </td>
        </tr>
    }


</table>
<table class="table">

    <thead>
        <tr>
            <th>
                SavingsAccountId
            </th>
            <th>
                <p>
                    Account #
                </p>
            </th>

            <th>
                <p>
                    Balance
                </p>
            </th>
            <th>
                <p>
                    Type
                </p>
            </th>

        </tr>
    </thead>


    @foreach (var item in Model.SavingsAccounts)
    {
        <tr>
            <th scope="row">
                @Html.DisplayFor(modelItem => item.SavingsAccountId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.SAccountNumber))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SavingsBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfSavingsAccount)
            </td>

            <td>


                @Html.ActionLink("Details", "Details", "Transaction", new { id = item.CustomerId }, htmlAttributes: new { @class = "btn btn-info btn-sm " })

            </td>
        </tr>
    }


</table>
