@model BankAccountManagement.Models.TransactionDetail

@{
    ViewBag.Title = "Details";
}
<div class="text-center">
    <h2>Transaction Details</h2>

    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TransactionId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TransactionId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TypeOfTransaction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeOfTransaction)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AmountOfTransaction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AmountOfTransaction)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TransactionDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TransactionDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CheckingAccountId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CheckingAccountId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SavingsAccountId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SavingsAccountId)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }, htmlAttributes: new { @class = "text-light" }) |
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "text-light" })
    </p>
</div>