@model IEnumerable<BankAccountManagement.Models.TransactionListItem>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center mt-4">Transactions</h2>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.AmountOfTransaction)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TransactionDescription)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CheckingAccountId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SavingsAccountId)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <th scope="row">
            @Html.DisplayFor(modelItem => item.TransactionId)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOfTransaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckingAccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SavingsAccountId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.TransactionId  }) |
            @Html.ActionLink("Details", "Details", new { id = item.TransactionId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TransactionId })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-outline-light" })
</p>
